@import "tailwindcss";

@theme {
  --font-family-lexend: "Lexend", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --color-primary: #006c49;
  --color-on-primary: #ffffff;
  --color-primary-container: #10b981;
  --color-on-primary-container: #00422b;
  --color-secondary: #545f73;
  --color-secondary-container: #d5e0f8;
  --color-surface: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #3c4a42;
  --color-outline: #6c7a71;
  --color-outline-variant: #bbcabf;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
